.THIS.container {
    /*border: 1px solid #d8dde6;*/
    margin: 10px 0 20px 0;
    text-align: left;
}

.THIS .body{
    display: inline-block;
}

.THIS button{
    background: #ffffff;
    margin: 5px;
    padding: 0;
    color: #4D4D4D;;
    width: 260px;
    text-align: left;
    display: inline-block;
    height: 130px;
    box-shadow: 0 1px 4px 0 rgba(166, 166, 166, 0.6);
}

.THIS button:hover{
    box-shadow: 0 4px 4px 0 rgba(166, 166, 166, 0.6);
    -webkit-box-shadow: 0 4px 4px -8px rgba(166, 166, 166, 0.6);
	-moz-box-shadow: 0 4px 4px -8px rgba(166, 166, 166, 0.6);
}

.THIS .clickedClass{
    border-top: 8px solid #00A3AD;
}

.THIS .noClickedClass{
    
    border-top: 8px solid grey;
}

.THIS .title{
    display: inline-flex;
    font-size: 16px;/*was18*/
    line-height: 23px; /*was25*/
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    margin-left: 10px;
    color: #0071ad;
    height: 60px;
}

.THIS .title .clickedClass{
    color: #00A3AD;
}

.THIS .description{
    display: inline-flex;
    font-size: 13px; /*was15*/
    height: 40px;
    margin-left: 10px;

}
/*Modal Styling Material List*/
.THIS .slds-modal__container{
    align-items: center;
    width: 80%;
}
.THIS .slds-modal__header{
    width: 100%;
    font-size: 20px;
}
.THIS .content{
    overflow: scroll;
    width: 100%;
}

.THIS .slds-modal__container .content .container{
    padding:0;
}

.THIS .slds-icon_container{
    display: block;
}
 


/*.THIS .slds-button__icon.slds-icon-utility-close{
    display: block !important;
    background-color: red !important;
}

.THIS lightning-icon.slds-button__icon.slds-icon-utility-close.slds-icon_container.forceIcon {
    display: block !important;
    background-color: red !important;

}*/